.nav-link-tab {
    display: block;
    padding: 0.5rem 1rem;
    color: #FF8247;
}

.nav-link-tab:hover, .nav-link-tab:focus {
    text-decoration: none;
}
  
.nav-link-tab.disabled {
    color: #6c757d;
    pointer-events: none;
    cursor: default;
}

.nav-tabs {
    border-bottom: 1px solid #F4A460;
}
  
.nav-tabs .nav-item {
    margin-bottom: -1px;
    margin-right: 2px;
}
  
.nav-tabs .nav-link-tab {
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}
  
.nav-tabs .nav-link-tab:hover, .nav-tabs .nav-link-tab:focus {
    color: #FFF;
    background-color: #F4A460;
}
  
.nav-tabs .nav-link-tab.active,
.nav-tabs .nav-item.show .nav-link-tab {
    color: #FFF;
    background-color: #FF8247;
}

.nav-link-page {
    display: block;
    padding: 0.5rem 1rem;
}
.nav-pills .nav-link-page {
    background-color:#FF8247;
    text-align:center;
    font-size:11pt;
    border :1pt solid white;
    color :white;
}
.nav-pills .nav-link-page.active {
    background-color:#F4A460;
    text-align:center;
    font-size:11pt;
    border-color :white;
    color :white;
}

/* not active */
$tab-border-width: 3px;
.nav-pills .tab-1 .nav-link:not(.active) {
    background-color: #BCD2EE;
    border: $tab-border-width solid #007bff;
    color :#007bff;
    border-radius: 0;
    border-bottom: none;
    margin-right: 0 - $tab-border-width; //prevent 
}

/* active (faded) */
.nav-pills .tab-1 .nav-link {
    background-color: white;
    border: $tab-border-width solid #007bff;
    color :#007bff;
    border-radius: 0;
    border-bottom: none;
    margin-right: 0 - $tab-border-width; //prevent 
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
}
.card {
    background-color: #BCD2EE!important;
    border: none !important;
}
.card-title {
    font-size:9.5pt;
}
.board {
    color:#27408B !important;
    font-size:11pt !important;
    background-color:#E8E8E8 !important;
}
.table-record-time {
    width: 100%;
    color: #000000;
}
.table-record-time th,
.table-record-time td {
    vertical-align: center;
    text-align: center;
    border: 1px solid #000000;
    height: 20pt;
}
.table-white {
    width: 100%;
    color: #000000;
    background-color: #ffffff;
}
.table-white th,
.table-white td {
    vertical-align: center;
    text-align: center;
    border-top: 1px solid #696e72;
    height: 20pt;
}
.table-general {
    width: 100%;
    color: #000000;
    background-color: #ffffff;
}
.table-general th,
.table-general td {
    vertical-align: center;
    text-align: center;
    border: 1px solid #696e72;
    height: 20pt;
}
.table-master {
    width: 100%;
    color: #000000;
    background-color: #ffffff;
}
.table-master th {
    vertical-align: center;
    text-align: center;
    height: 20pt;
    border-bottom: 4px double #696e72;
}
.table-master td {
    vertical-align: center;
    text-align: center;
    height: 20pt;
    border-bottom: 1px solid #696e72;
}
.table-calendar {
    width: 100%;
    color: #000000;
    background-color: #ffffff;
}
.table-calendar th {
    vertical-align: center;
    text-align: center;
    height: 10pt;
    border: 1px solid #696e72;
}
.table-calendar td {
    vertical-align: center;
    text-align: center;
    height: 20pt;
    border: 1px solid #696e72;
}
th.noBorder {
    border: 0;
}

.btn-xlg, .btn-group-xlg > .btn {
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    line-height: 5;
    border-radius: 0.3rem;
}
.btn-xlg + .dropdown-toggle-split, .btn-group-xlg > .btn + .dropdown-toggle-split {
    padding-right: 0.75rem;
    padding-left: 0.75rem;
}
@media print{
    .table-record-time th{
        color: #000000;
    }
}
